<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356701098833-rvde4fkvm8eakd13dqa9bg1d0qm7psrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356701098833-rvde4fkvm8eakd13dqa9bg1d0qm7psrb</string>
	<key>API_KEY</key>
	<string>AIzaSyCkk9hajJ-3SADMJUSPgf-L37E6ciGtKzA</string>
	<key>GCM_SENDER_ID</key>
	<string>356701098833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.appcube.splitbee</string>
	<key>PROJECT_ID</key>
	<string>splitbeeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>splitbeeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356701098833:ios:fb0c4259e39b8b0ebd7970</string>
</dict>
</plist>